<% include header %>
<!--不写action则默认是action：'/login'-->
<form method="POST">
    用户名：<input type="text" name="username"><br>
    密码：<input type="password" name="password"><br>
    <input type="submit" value="登录">
</form>

<% include footer %>


