<% include header %>

<form method="POST">
    标题: <br>
    <input type="text" name="title"><br>
    内容: <br>
    <textarea name="content"cols="100" rows="20"></textarea> <br>
    <input type="submit" value="提交">
</form>


<% include footer %>


